.SideBar{
    display:flex;
    flex-direction:column;
    position:fixed;

    background-color: #000000;

    text-align: center;

    width:15%;
}

.SideBar a{
    text-decoration: none;
    color: #ffffff;
}

.SideBar .Title{
    padding: 10px;
    font-size: 40px;
}

.SideBar-BackGround{
    width: 15%;
    height: 10px;
    background-color: #000000;
}