.Menu{
    display:flex;
    flex-direction: column;
    height: 100vh;
    left: 0;
    top: 0;
}

.Menu ul{
    list-style: none;
    padding: 0;
}

.Menu ul li{
    height:50px;

    vertical-align: middle;
}

.Menu ul li a{
    font-size: 30px;
}

.Menu hr {
    border: none;
    height: 2px;
    background: linear-gradient(to right, transparent, #ffffff, transparent);
  }